<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QA Status</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>17/11/22 15:40:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DailyStatus.MainFunction()[pri:0, instance:testPackage.DailyStatus@28feb3fa]">MainFunction</td> 
  <td>main@1216590855</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/22 15:40:07</td>   <td>6497</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DailyStatus.afterClass()[pri:0, instance:testPackage.DailyStatus@28feb3fa]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1216590855</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/11/22 15:40:00</td>   <td>-47</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DailyStatus.beforeClass(org.testng.ITestContext)[pri:0, instance:testPackage.DailyStatus@28feb3fa]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1216590855</td>   <td></td> </tr>
</table>
