<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>QA Status</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="689ebf">  <td>17/11/21 16:53:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DailyStatus.beforeClass(org.testng.ITestContext)[pri:0, instance:testPackage.DailyStatus@47d384ee]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207769059</td>   <td></td> </tr>
<tr bgcolor="689ebf">  <td>17/11/21 16:53:37</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DailyStatus.MainFunction()[pri:0, instance:testPackage.DailyStatus@47d384ee]">MainFunction</td> 
  <td>main@1207769059</td>   <td></td> </tr>
<tr bgcolor="689ebf">  <td>17/11/21 16:53:45</td>   <td>7674</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DailyStatus.afterClass()[pri:0, instance:testPackage.DailyStatus@47d384ee]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1207769059</td>   <td></td> </tr>
</table>
